<!-- component -->

<!-- Table -->


<div class="topdiv container mx-auto mt-14 border-8 border-opacity-0 py-15 px-72" style="overflow-x:auto;">
  <div class="flex1">

    <div class="p-3">
      <div class="overflow-x-auto h-screen">
        <table class="table bg-gray-100	 border-4  border-blue-200 w-full">
          <header class="px-5 py-4 ">
            <caption class="font-semibold uppercase text-1xl text-gray-800">Tasks</caption>
          </header>
          <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
          <tr>
            <th class="p-2 whitespace-nowrap">
              <div class="font-semibold text-left">Title</div>
            </th>
            <th class="p-2 whitespace-nowrap">
              <div class="font-semibold text-left">Description</div>
            </th>
            <th class="p-2 whitespace-nowrap">
              <div class="font-semibold text-left">Total Time</div>
            </th>
            <th class="p-2 whitespace-nowrap">
              <div class="font-semibold text-left"></div>
            </th>
            <th class="p-2 whitespace-nowrap">
              <div class="font-semibold text-left"></div>
            </th>
          </tr>
          </thead>
          <tbody class="text-sm divide-y divide-gray-100">

          <% @tasks.each do |task| %>

            <tr>
              <td class="p-2 whitespace-nowrap">
                <div class="flex items-center">

                  <div class="font-medium text-gray-800"><%= task.title %></div>
                </div>
              </td>
              <td class="p-2 whitespace-nowrap">
                <div class="text-left"><%= task.description %></div>
              </td>
              <td class="p-2 whitespace-nowrap">
                <div class="text-left font-medium text-green-500">nil</div>
              </td>
              <td class="p-2 whitespace-nowrap">
                <div class="text-left font-medium text-green-500"><%= link_to 'Show/Edit', task %></div>
              </td>
            </tr>

          <% end %>

          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div id="root" class="task_modal container mx-auto " >
    <button class="btn_task mx-2 bg-green-500 hover:bg-green-700 text-white font-bold py-0.5 px-3.5 rounded" type="button" onclick="toggleModal('modal-id')">
      +
    </button>
    <div class="hidden overflow-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center" id="modal-id" >
      <div class="relative w-auto my-6 mx-auto max-w-3xl">
        <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
          <div class="relative p-6 flex-auto" >
            <p class="my-4 text-blueGray-500 text-lg leading-relaxed">
              <%= render "form", task: @task %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="hidden opacity-25 fixed inset-0 z-40 bg-black" id="modal-id-backdrop"></div>
    <script type="text/javascript">
        document.addEventListener('click', (event) => {

            if(event.target.id == 'modal-id'){
                toggleModal('modal-id');
            }
        })
        function toggleModal(modalID) {
            document.getElementById(modalID).classList.toggle("hidden");
            document.getElementById(modalID + "-backdrop").classList.toggle("hidden");
            document.getElementById(modalID).classList.toggle("flex");
            document.getElementById(modalID + "-backdrop").classList.toggle("flex");
        }
    </script>
  </div>
</div>













