// table, th, td {
//     border: 1px solid black;
// }

.center{
    display:block;
    float: left;
    overflow:hidden;
  }


  .center{
    background-color:rgb(231, 227, 227);
    
  height:400px;
  overflow:auto;
  overflow-x:hidden;
  border: 1px solid black;
}

  .days a {
    width: 100px;
    height: 50px;
    display: inline-block;
}

.btn{
  height: 65px;
  width: 65px; 

  display: inline-block;
  font-size: 50px;
}


.nw{
  position:absolute;
  top: 97px;
  left: 230px;
}


.content {
  max-width: 500px;
  margin: auto;
}

.topdiv{
  overflow: hidden;
  position: relative;
}
.btn{
  position: absolute; left: 210px; top: 40px;
}

.btn_task{
  height: 65px;
  width: 65px; 
   position: absolute; left: 210px; top: 70px;
  display: inline-block;
  font-size: 50px;
}

.ddown {
  background-color: rgb(224, 222, 222) ;
}#modal-root {
   position: fixed;
   overflow: hidden;
   background-color: rgba(0, 0, 0, 0.4);
   left : 0;
   top: 0;
   width: 0px;
   height : 0px;
   opacity: 0;
   transition: opacity 0.15s ease-out, width 0s linear 0.15s, height 0s linear 0.15s;
 }

#modal-root.visible {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.15s ease-out;
}

.modal {
  margin: 0 auto;
  width: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

